<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
</head>
<body>
    <header>
        <h1>@Html.RouteLink("Simple Blog", "home")</h1>

        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            @Html.RouteLink("Logout", "logout")

            if (User.IsInRole("admin"))
            {
               <a href="@Url.Action("index", "Posts", new{area="admin"})">View posts in admin</a>
            }
        }
        else
        {
            @Html.RouteLink("Login", "login")
        }
        
    </header>

    @RenderBody()

    <footer>
        &copy; @DateTime.UtcNow.Year - me
    </footer>

    @RenderSection("Scripts", false)
</body>
</html>
